<h1>Listing paniers</h1>

<table>
  <tr>
    <th>Produit</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paniers.each do |panier| %>
  <tr>
    <td><%= panier.produit_id %></td>
    <td><%= panier.user_id %></td>
    <td><%= link_to 'Show', panier %></td>
    <td><%= link_to 'Edit', edit_panier_path(panier) %></td>
    <td><%= link_to 'Destroy', panier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Panier', new_panier_path %>
