<%= form_for(@produit) do |f| %>
  <% if @produit.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@produit.errors.count, "error") %> prohibited this produit from being saved:</h3>

      <ul>
      <% @produit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :prix %><br />
    <%= f.text_field :prix %>
  </div>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>


     <div class="field">
      <%= f.label :categori_id, 'Categorie' %><br />
      <%= f.select :categori_id, Categori.all.map{ |c| [c.nom, c.id] } %>
      </div>

  <div class="field">
    <%= f.label :quantite %><br />
    <%= f.text_field :quantite %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Valider'%>
  </div>
<% end %>
