<p id="notice"><%= notice %></p>


<h2><%= @produit.nom %></h2>
<div id="photo">
<%= image_tag("produit/" + @produit.photo , :class => "round") %>  
</div>
<br /><br /><br /><br />
<p>
  <b>Description:</b>
  <%= @produit.description %>
</p>

<p>
  <b>Quantite Disponible:</b>
  <%= @produit.quantite %>
</p>

  <h3>Prix:
  <%= @produit.prix %> €</h3>
 <% if current_user %>
        <% if current_user.admin %><!-- verifier si le user est un administrateur -->
        <p>
        <b>Categorie du produit:</b>
	        <%= Categori.find_by_id(@produit.categori_id).nom %><br>
        </p>
	    	<%= link_to 'Modifier', edit_produit_path(@produit) %><br>	
	    	<%= link_to 'Supprimer', @produit, :confirm => 'Are you sure?', :method => :delete %><br>	
        <% end %>
    <% end %>
<h3><%= link_to 'Retour catégorie', {:controller => "categoris", :action => "listProduit", :categori => @produit.categori_id} %>
</h3><h3>
    <% if current_user %>
        <% if !current_user.admin %><!-- verifier si le user est un administrateur -->
			     <%= link_to 'Ajouter au Panier', new_commande_path(@produit) %>
        <% end %>
    <% else if !current_user %>
        <%= link_to 'Ajouter au Panier', new_commande_path(@produit) %>
    <% end %>
</h3>
<% end %>
