<h3>Liste produits</h3>

<table>
  <tr>
    <th align='center'>Nom</th>
    <th align='center'>Prix</th>
    <th align='center'>Description</th>
    <th align='center'>Photo</th>
    <th align='center'>Categori</th>
    <th align='center'>Quantite</th>
    <th align='center'></th>
    <th align='center'></th>
    <th align='center'></th>
  </tr>

<% @produits.each do |produit| %>
  <tr>
    <td align='center'><%= produit.nom %></td>
    <td align='center'><%= produit.prix %></td>
    <td align='center'><%= produit.description %></td>
    <td align='center'><%= produit.photo %></td>
    <td align='center'><%= Categori.find_by_id(produit.categori_id).nom %></td>
    <td align='center'><%= produit.quantite %></td>
    <td align='center'><%= link_to 'Visualiser', produit %></td>
    <% if current_user %>
        <% if current_user.admin == true %><!-- verifier si le user est un administrateur -->
            <td><%= link_to 'Modifier', edit_produit_path(produit) %></td>
            <td><%= link_to 'Supprimer', produit, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<br/>

<% if current_user %>
    <% if current_user.admin == true %><!-- verifier si le user est un administrateur -->
<%= link_to 'Nouveau Produit', new_produit_path %>
    <% end %>
<% end %>
