<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @produit.nom %>
</p>

<p>
  <b>Prix:</b>
  <%= @produit.prix %>
</p>

<p>
  <b>Description:</b>
  <%= @produit.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @produit.photo %>
</p>

<p>
  <b>Categori:</b>
  <%= @produit.categori_id %>
</p>

<p>
  <b>Quantite:</b>
  <%= @produit.quantite %>
</p>


<%= link_to 'Modifier', edit_produit_path(@produit) %> |
<%= link_to 'Retour', produits_path %>

<% if current_user %>
    <% if !current_user.admin  %><!-- verifier si le user est un administrateur -->
    <%= link_to 'Ajouter au Panier', new_commande_path(@produit) %>
   <% end %>
<% end %>
