<h2>Categories des produits</h2>

<div id="recherche" class="round">
<% form_tag(:action => "index") do %><!-- Recherche de categorie -->
    <%= text_field_tag(:nom, params[:nom], :size => 5) %> 
    <%= submit_tag :"Recherche!" %>
<% end %>
</div>
<table id="listinfos">
<!--  <tr>
    <th>Nom</th>
    <th>Description</th>
  </tr>
-->

<% @categoris.each do |categori| %>

  <tr>
    <td class="nom"><%= link_to categori.nom, {:controller => "categoris", :action => "listProduit", :categori => categori}%></td>
    <td class="description"><%= link_to categori.description, {:controller => "categoris", :action => "listProduit", :categori => categori}%></td>
<!--    <td><%= link_to "Visualiser Produits", {:controller => "categoris", :action => "listProduit", :categori => categori}%></td>
-->    
    <% if current_user %>
      <% if current_user.admin == true %><!-- verifier si le user est un administrateur -->
        <td class="maintenance">
            <%= link_to 'Visualiser', categori %><br />
            <%= link_to 'Modifier', edit_categori_path(categori) %><br />
            <%= link_to 'Supprimer', {"id" => categori.id, :action => :destroy} %></td>
      <% end %>  
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<% if current_user %>
    <% if current_user.admin == true %><!-- verifier si le user est un administrateur -->
        <%= link_to 'Nouvelle Categorie', new_categori_path %>
    <% end %>  
<% end %>
