<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @categori.nom %>
</p>
<p>
  <b>Description:</b>
  <%= @categori.description %>
</p>

<%= link_to 'Edit', edit_produit_path(@categori) %> |
<%= link_to 'Back', produits_path %>
<%= link_to 'Ajouter au Panier', new_commande_path(@categori) %>




