<p id="notice"><%= notice %></p>
<h3>Categorie</h3>
<p>
  <b>Nom:</b>
  <%= @categori.nom %>
</p>
<p>
  <b>Description:</b>
  <%= @categori.description %>
</p>

<%= link_to 'Modifier', edit_categori_path(@categori) %> |
<%= link_to 'Retour', categoris_path %>





