<p id="notice"><%= notice %></p>

<p>
  <b>Produit:</b>
  <%= @commande.produit_id %>
</p>

<p>
  <b>User:</b>
  <%= @commande.user_id %>
</p>

<p>
  <b>Payer:</b>
  <%= @commande.payer %>
</p>


<%= link_to 'Edit', edit_commande_path(@commande) %> |
<%= link_to 'Back', commandes_path %>
