<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user_session.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user_session.password %>
</p>


<%= link_to 'Modifier', edit_user_session_path(@user_session) %> |
<%= link_to 'Retour', user_sessions_path %>
