
<header>
	       
	<%= image_tag("logo.png", :alt => "Site Ecommerce ", :class => "round") %>	
	<nav class="round">
		 	<% if current_user %>
		 	<!-- nom de l'utilisateur identifider -->
				Bienvenu <%= current_user.username%>
				<!-- se deconnecter -->
				<%= link_to " Logout ", :logout %>
				<!-- afficher le profil -->
				<%= link_to "Profile", {:controller => "users", :action => "profilUser"}%>
				
				<!-- verifié si le compte est administrateur afin qde lui donner les previlege de modifier les produit et gatégorie  -->
					<% if current_user.admin %>
					<!-- verifié si le compte est administrateur afin qde lui donner les previlege de modifier les produit et gatégorie  -->
						<%= link_to " Produit ", produits_path %>
						<%= link_to " Catégorie ", categoris_path %>
						<%= link_to " Utilisateurs ", users_path %>
						<%= link_to " Commandes ", {:controller => "commandes", :action => "commandeEffectuer"}%>
					<% end %>
					<% if !current_user.admin %>
						<!-- afficher le panier et les commandes effectuer  -->
						<%= link_to "Mes achat", {:controller => "commandes", :action => "mesAchat"}%>
					<% end %>

			<% else %>
					<%= link_to " Inscription ", new_user_path%> 
					<%= link_to " Connexion ", :login %>
			<% end %></li>
			<%= link_to " Accueil ", home_path %>
	</nav>

</header>

