
<header>
	       
	<div id="logo">
    <%= image_tag("logo.jpeg", :alt => "Site Ecommerce ", :class => "round") %>	
    </div>
	<nav class="round">
        <div id="navclient" class="round">
		 	<% if current_user %>
		 	<!-- nom de l'utilisateur identifider -->
				<li>Bienvenu <%= current_user.username%></li>
				<!-- se deconnecter -->
				<li><%= link_to " Déconnexion ", :logout %></li>
				<!-- afficher le profil -->
				<li><%= link_to "Profile", {:controller => "users", :action => "profilUser"}%></li>
					<% if !current_user.admin %>
						<!-- afficher le panier et les commandes effectuer  -->
						<li><%= link_to "Mes achat", {:controller => "commandes", :action => "mesAchat"}%></li>
					<% end %>

			<% else %>
					<li><%= link_to " Inscription ", new_user_path%> </li>
					<li><%= link_to " Connexion ", :login %></li>
			<% end %>
			<li><%= link_to " Accueil ", home_path %></li>
        </div>
		 	<% if current_user %>
					<% if current_user.admin %>
                        <div id="navadmin" class="round">
						<li><%= link_to " Produit ", produits_path %></li>
						<li><%= link_to " Catégorie ", categoris_path %></li>
						<li><%= link_to " Utilisateurs ", users_path %></li>
						<li><%= link_to " Commandes ", {:controller => "commandes", :action => "commandeEffectuer"}%></li>
                        </div>
					<% end %>
            <% end %>
	</nav>

</header>

